.qanda {
	width: 650px;
	padding: 10px 10px 10px 10px;
}

.qanda div {
	padding: 0;
}

.qanda .question {
	width: 100%;
	border: 1px solid #b5e1ff;
}

.qanda .answer {
	width: 100%;
	border: 1px solid #b5e1ff;
	background-color: #b5e1ff;
}

.qanda .bullet {
	vertical-align:top; 
	display: inline-block;
	width: 20px;
	font-size: 30px;
	font-weight: bold;
	padding: 10px;
}

.qanda .text {
	width:570px;
	padding-left: 20px;
	font-size: 18px;
	display: inline-block;
	white-space: normal;
	vertical-align: text-top;
}